@model List<Entities.Auditoria>

@{
    ViewBag.Title = "SearchAuditedAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        @if (ViewBag.Error != null)
        {
        <!-- Warning Alert -->
		<!--===================================================-->
            <div class="alert alert-danger">
                <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
                <strong>Warning!</strong> @ViewBag.Error : (
            </div>
        }
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Buscar auditorias realizadas</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("SearchAuditedAccount", "Auditory", FormMethod.Post, new { id="form-search-done-auditories" }))
                {
                    <div class="form-horizontal">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="demo-hor-inputpass">Auditores</label>
                                <div class="col-sm-10">
                                    <select name="Auditor" data-url="@Url.Action("GetAuditors", "Auditor")" class="form-control auditor-adm" style="max-width:100%;" data-current-val="@ViewBag.input.Auditor"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="demo-hor-inputemail">Fecha RDV</label>
                                <div class="col-sm-10">
                                    <div id="selectedPiker">
                                        <input name="SalesDate" type="text" class="form-control picker" style="max-width: 100%;" data-current-val="@ViewBag.input.SalesDate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="demo-hor-inputemail">Fecha Auditoria</label>
                                <div class="col-sm-10">
                                    <div id="selectedPiker">
                                        <input name="CreationDate" type="text" class="form-control picker" style="max-width: 100%;" data-current-val="@ViewBag.input.CreationDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="demo-hor-inputpass">Subscriber Id</label>
                                <div class="col-sm-10">
                                    <input name="SubscrId" type="number" class="form-control" style="max-width: 100%;" data-current-val="@ViewBag.input.SubscrId">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="demo-hor-inputpass">Call Id</label>
                                <div class="col-sm-10">
                                    <input name="CallId" type="number" class="form-control" style="max-width: 100%;" data-current-val="@ViewBag.input.CallId">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="demo-hor-inputpass">Telefono</label>
                                <div class="col-sm-10">
                                    <input name="PhoneNo" type="number" class="form-control" style="max-width: 100%;" data-current-val="@ViewBag.input.PhoneNo">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10 text-right">
                                    <input type="submit" id="search-audit" class="btn btn-info" value="Buscar" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @RenderPage("~/Views/Shared/_SearchAuditTable.cshtml")
</div>

@RenderPage("~/Views/Shared/_CreditModal.cshtml")
@RenderPage("~/Views/Shared/_ClaimModal.cshtml")
@RenderPage("~/Views/Shared/_AuditModal.cshtml")
@RenderPage("~/Views/Shared/Handlebar/Templates.cshtml")

@section scripts{    
    <script src="~/Scripts/sram/class.js"></script>
    <script src="~/Scripts/sram/modules.js"></script>
    <script src="~/Scripts/sram/auditory.js"></script>
    }