@model List<Entities.Auditoria>

<div class="col-sm-12">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Pendientes a Auditar</h3>
        </div>
        <div class="panel-body">

            <div class="pad-btm form-inline">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pad-btm">
                            <button id="demo-foo-collapse" class="btn btn-info"><i class="fa fa-compress" aria-hidden="true"></i></button>
                            <button id="demo-foo-expand" class="btn btn-warning"><i class="fa fa-expand" aria-hidden="true"></i></button>
                            <label class="form-inline">
                                Show
                                <select id="demo-show-entries" class="form-control input-sm">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                                entries
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 text-xs-center text-right">
                        <div class="form-group">
                            <input id="demo-foo-search" type="text" placeholder="Search" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <table id="pending-table" class="table toggle-circle" data-page-size="10">
                <thead>
                    <tr>
                        <th data-sort-ignore="true">
                            <input type="checkbox" class="checked-all-assigment"/>
                        </th>
                        <th data-toggle="true" class="footable-first-column">Razón Social</th>
                        <th>Subs Id</th>
                        <th>Teléfono</th>
                        <th>Canvass</th>                        
                        <th>Ejecutivo</th>
                        <th data-hide="phone, tablet">Unidad</th>
                        <th data-hide="phone, tablet">Fecha RCP</th>
                        <th data-hide="phone, tablet">Compañía</th>
                        <th data-hide="phone, tablet">Tipo de Servicio</th>
                        <th data-sort-ignore="true" style="width:180px;"></th>
                        <th data-hide="all">Control Verbal Call Id</th>
                        <th data-hide="all">Book Code</th>
                        <th data-hide="all">Cargo</th>
                        <th data-hide="all">Venta</th>
                        <th data-hide="all">PDC Dimmas</th>
                        <th data-hide="all">PDC Codetel</th>
                        <th data-hide="all">Comentario Ejecutivo</th>                                                
                        <th data-hide="all">Call Id</th>
                        <th data-hide="all">Auditor Asignado</th>                        
                        <th data-hide="all">Previo Call Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-subscriber="@item.SubscriberId" data-canv-edition="@item.CanvEdition" data-canv-code="@item.Canvass" data-book-code="@item.BookCodeDetail">
                            <td>
                                <input type="checkbox" class="checked-assigment" value="@item.AssignmentId"/>
                            </td>
                            <td>@item.RazonSocial</td>
                            <td>@item.SubscriberId</td>
                            <td>@item.Telefono</td>
                            <td>@item.Canvass</td>                            
                            <td>@item.Ejecutivo</td>
                            <td>@item.Unidad</td>
                            <td>@item.FechaRPC</td>                            
                            <td>@item.Compania</td>
                            <td>@item.TipoDeServicio</td>
                            <td>
                                <div class="btn-group-xs">
                                    @if (@item.HassCredit)
                                    {
                                        <button type="button" class="btn btn-primary show-credit" data-url="@Url.Action("GetCredits", "Subscriber")">Credit</button>
                                    }

                                    @if (@item.HassClaim)
                                    {
                                    <button type="button" class="btn btn-info show-claim" data-url="@Url.Action("GetClaims", "Subscriber")">Claim</button>
                                    }                                    
                                    <button type="button" class="btn btn-default audit-command-button" data-assigment-id="@item.AssignmentId" data-account-id="@item.AccountId" data-url="@Url.Action("GetTransactionInfoByAssignment", "Auditory")">Auditar</button>
                                </div>
                            </td>
                            <td>@item.ControlVerballCallId</td>
                            <td>@item.BookCodeDetail</td>
                            <td>@item.Cargo</td>
                            <td>@item.Venta</td>
                            <td>@item.PDCDimmas</td>
                            <td>@item.PDCCodetel</td>
                            <td>@item.ComentarioEjecutivo</td>                                                        
                            <td>@item.CallId</td>
                            <td>@item.AuditorAsignado</td>
                            
                            @if (item.PrevioCallId != "X")
                            {
                                <td><span class="label label-table label-primary">@item.PrevioCallId</span></td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div class="text-left">
                                <ul class="pagination"></ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>