@model List<Entities.Auditoria>

@{
    ViewBag.Title = "Pending";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Pendientes a Auditar</h3>
            </div>
            <hr style="border: solid 1px rgb(0, 0, 153);" />
            <!--Data Table-->
            <!--===================================================-->
            <div class="panel-body">

                <div class="col-sm-12">
                    @using (Html.BeginForm("GetPendingAud", "Pending", FormMethod.Post, new { id = "form-buscar-pendiente", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="demo-hor-inputemail">Fecha</label>
                            <div class="col-sm-10">
                                <div id="selectedPiker">
                                    <input type="text" name="salesDate" class="form-control" style="max-width:25%;">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="demo-hor-inputpass">Auditores</label>
                            <div class="col-sm-10">
                                <select name="userCode" class="form-control auditor" id="frm-buscar-auditor" style="max-width:25%;"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <input id="buscar-pedding-audit" class="btn btn-info" type="submit" value="Buscar" />
                            </div>
                        </div>
                    }
                </div>
                <hr style="border: solid 1px rgb(0, 0, 153);" />

                <div class="col-sm-12">
                    <table id="pedding-audit" class="table table-striped table-bordered" style="max-width:40%;" data-url="@Url.Action("GetPendingAudResume", "Auditor")">
                        <caption><h4 class="text-center">Resumen de Auditorias Pendientes</h4></caption>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody id="pending-summary-count"></tbody>
                        <tfoot>
                            <tr>
                                <td class="text-danger text-right">Total:</td>
                                <td class="total-auditar text-danger"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="col-sm-12"></div>
                <hr />
                <div class="pad-btm form-inline">
                    <div class="row">
                        <div class="col-sm-6 table-toolbar-left">

                        </div>
                        <div class="col-sm-6 table-toolbar-right" id="pendientes-auditar-reasignar">
                            <div class="form-group">
                                <select class="form-control auditor" id="frm-reasign-auditor" style="min-width:170px;" data-url="@Url.Action("GetAuditors", "Auditor")"></select>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-info btn-labeled fa fa-cogs" id="reassing-to-auditor" data-url="@Url.Action("ReAssign", "Auditory")">Reasignar</button>
                                <button class="btn btn-info" id="refrescar-pendiente-auditar"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="" data-assignment-id-audit="none">
                </div>
            </div>
            <!--===================================================-->
            <!--End Data Table-->

        </div>
    </div>
    @RenderPage("~/Views/Shared/_AuditTable.cshtml")
</div>


@RenderPage("~/Views/Shared/_CreditModal.cshtml")
@RenderPage("~/Views/Shared/_ClaimModal.cshtml")
@RenderPage("~/Views/Shared/_AuditModal.cshtml")
@RenderPage("~/Views/Shared/Handlebar/Templates.cshtml")

@section scripts{
    <script>
        var pendingUrl = "@Url.Action("Index","Pending")";
    </script>
    <script src="~/Scripts/sram/class.js"></script>
    <script src="~/Scripts/sram/pending.js"></script>
}